{{extend 'layout.html'}}

{{block head}}
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
    <script src="{{=URL('static', 'js/vue-router.min.js')}}"></script>
    
    <script>
        var jobs_url = "{{=URL('api', 'get_jobs')}}";
        
        var your_jobs_url = "{{=URL('default', 'community')}}";
        var view_url = "{{=URL('default', 'view')}}";
        var image_url = "{{=URL('static', 'images')}}";
        
        var isCommunityPage = true;
    </script>
    
    <script src="{{=URL('static','js/tagify.js')}}"></script>
    <script src="{{=URL('static','js/jQuery.tagify.js')}}"></script>
{{end}}


    

<div id="vue-div-main" style="display: none;">

    
<div class="container-fluid" style="background-color: rgba(32, 32, 32);">
    <div class="container">
        <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
            <div class="col-md-12">
                
            
<div class="form-inline pull-right" style="margin-right: -1px;">
    <div class="input-group">
    <input v-on:keyup.enter="search_jobs()" v-model="search_form" type="text" class="form-control" name="search" placeholder="Search jobs..">
    <span class="input-group-btn">
    <button v-on:click="search_jobs()" class="btn btn-info" type="submit" style="background-color: black;/"><i class="fa fa-search"></i>&#8203;</button>
    </span>
    </div>
</div>
                
                
                <h2 style="color: white;">Community</h2>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 20px;">
    <div class="row">
        
        <div class="col-sm-4 col-md-3 col-lg-2">
            <div style="color: #777; padding-top: 8px">
                
                Refine your results:
                
                <div  style="margin-top: 18px;">
                    <div class="filterByTags noSelect" data-toggle="collapse" data-target="#filterTags">
                        
                        <i class="fa fa-chevron-down" id="filterIcon" style="margin-right: 4px;"></i>
                        <span id="filterText">FILTER BY TAGS</span>
                    </div>
                    
                    <div id="filterTags" class="collapse noSelect">
                        
                        <div class="cPanel">
                            
                            <div class="form-check"  v-for="tag in tags">
                                <input type="checkbox" class="form-check-input" v-bind:id="tag + '_check'">
                                <label class="form-check-label" v-bind:for="tag + '_check'">${tag}</label>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                
                <div  style="margin-top: 10px;">
                    <div class="filterByTags noSelect" data-toggle="collapse" data-target="#filterWeapons">
                        
                        <i class="fa fa-chevron-down" id="filterWeaponIcon" style="margin-right: 4px;"></i>
                        <span id="filterText">FILTER BY WEAPONS</span>
                    </div>
                    
                    <div id="filterWeapons" class="collapse noSelect">
                        
                        <div class="cPanel">
                            <div class="form-check"  v-for="wep in weapons">
                                <input type="checkbox" class="form-check-input" v-bind:id="wep + '_check'">
                                <label class="form-check-label" v-bind:for="wep + '_check'">${wep}</label>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                
                
                <div  style="margin-top: 10px;">
                        
                    <div class="filterByTags noSelect" data-toggle="collapse" data-target="#filterSalary">
                        
                        <i class="fa fa-chevron-down" id="filterSalaryIcon" style="margin-right: 4px;"></i>
                        <span id="filterText">FILTER BY SALARY</span>
                    </div>
                    
                    <div id="filterSalary" class="collapse noSelect">
                        
                        <div class="cPanel">
                            <label for="price_min">From</label>
                            <div class="input-group mb-3" style="margin-bottom: 5px !important;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input v-model="min_salary" name="price_min" type="text" class="form-control" placeholder="10">
                            </div>                          
                            <label for="price_max">To</label>
                            <div class="input-group mb-3" style="margin-bottom: 5px !important;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input v-model="max_salary" name="price_max" type="text" class="form-control" placeholder="50">
                            </div>             

                            <div style="margin-top:8px;">
                                <button class="btn btn-default btn-block" type="submit">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                
                
                <div  style="margin-top: 10px;">
                        
                    <div class="filterByTags noSelect" data-toggle="collapse" data-target="#filterMaxPlayers">
                        
                        <i class="fa fa-chevron-down" id="filterMaxPlayersIcon" style="margin-right: 4px;"></i>
                        <span id="filterText">FILTER BY PLAYERS</span>
                    </div>
                    
                    <div id="filterMaxPlayers" class="collapse noSelect">
                        
                        <div class="cPanel">
                            <label for="price_min">Max. From:</label>
                            <div class="input-group mb-3" style="margin-bottom: 5px !important;">
                                <input v-model="min_players" name="players_min" type="text" class="form-control" placeholder="0">
                            </div>                          
                            <label for="price_max">Max. To:</label>
                            <div class="input-group mb-3" style="margin-bottom: 5px !important;">
                                <input v-model="max_players" name="players_max" type="text" class="form-control" placeholder="4">
                            </div>
                            <div style="margin-top: 8px;">
                                <button class="btn btn-default btn-block" v-on:click="searchByPlayers();">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                
            </div>
        </div>
            
        <div class="col-sm-8 col-md-9 col-lg-10">

            <div>
                <select name="sort" class="form-control" style="width:200px; display:inline" onchange="this.form.submit()">
                    <option value="newest_items" selected>Sort by: Newest jobs</option>
                    <option value="recently_updated">Recently updated</option>
                    <option value="best_sellers">Upvotes</option>
                </select>
                    <select name="added" class="form-control" style="width:200px;display:inline" onchange="this.form.submit()">
                    <option value="any" selected>Added: Any date</option>
                    <option value="month">In the last month</option>
                    <option value="week">In the last week</option>
                    <option value="day">In the last day</option>
                </select>

                <span class="pull-right hidden-sm">
                    <a href="{{=URL('default', 'create')}}"><button class="createJobButton"><i class="fa fa-plus"></i>&#8203;</button></a>
                </span>
            </div>
            
            
            <div class="row no-gutters" style="margin-top: 8px">
                <div class="col-md-6 col-sm-6">
                    
                    
                    <div v-for="job in even_jobs" style="padding: 4px;">
                        <a v-bind:href="getJobViewURL(job.id)" style="text-decoration: none">
                            <div class="roundedCorners" v-bind:style="{ background: '#' + job.color + '59' }">
                                <div class="whiteGloss" v-bind:style="{ background: '#' + job.color + 'B3' }">
                                    
                                    <img v-bind:src="getModelURL(job.model)" style="float: left; padding-left: 8px;"/>
                                    
                                    <div class="myTextBottomLeft">
                                        ${job.name}
                                    </div>
                                    
                                </div>
                                
                                <div class="jobDescription">
                                    ${job.description}
                                </div>
                                
                                <div class="postedBy">
                                    <div class="postedByText">
                                        Posted by: ${job.created_by}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    
                    
                    
                    
                </div>
                
                
                
                <div class="col-md-6 col-sm-6">
                    
                    <div v-for="job in odd_jobs" style="padding: 4px;">
                        <a v-bind:href="getJobViewURL(job.id)" style="text-decoration: none">
                            <div class="roundedCorners" v-bind:style="{ background: '#' + job.color + '59' }">
                                
                                <i class="fa fa-trash fa-sm" id="topRightTest2"></i>
                                <i class="fa fa-edit fa-sm" id="topRightTest1"></i>
                                
                                <div class="whiteGloss" v-bind:style="{ background: '#' + job.color + 'B3' }">
                                    
                                    <img v-bind:src="getModelURL(job.model)" style="float: left; padding-left: 8px;"/>
                                    
                                    <div class="myTextBottomLeft">
                                        ${job.name}
                                    </div>
                                </div>
                                
                                <div class="jobDescription">
                                    ${job.description}
                                </div>
                                
                                <div class="postedBy">
                                    <div class="postedByText">
                                        Posted by: ${job.created_by}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                
                
                </div>
                
                
                
            </div>
            
            
            <div class="row" style="margin-top: 8px;">
                
                <div class="col-md-12">
                    

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end" style="padding: 4px;">

                            <li class="page-item noSelect" v-bind:class="{disabled: current_page == 1}">
                                <a class="page-link" v-on:click="prev_page()">Previous</a>
                            </li>


                            <li class="page-item noSelect" v-bind:class="{active: pageNumber == current_page}" v-for="pageNumber in pages">
                                <a class="page-link" v-on:click="set_page(pageNumber)" v-bind:class="{last: (pageNumber == pages && Math.abs(pageNumber - current_page) > 3), first:(pageNumber == 1 && Math.abs(pageNumber - current_page) > 3)}">${pageNumber}</a>
                            </li>

                            <li class="page-item noSelect" v-bind:class="{disabled: current_page == pages}">
                                <a class="page-link" v-on:click="next_page()">Next</a>
                            </li>
                        </ul>
                    </nav>
                    
                    
                </div>
            
            </div>
        </div>
    </div>
</div>

</div>



<script>
    $('#jobsLink').addClass('active');
    
    function toggleTagIcon() {
        console.log("WORK");
        $('#filterIcon').toggleClass('fa-rotate-180');
    }
    
    function toggleWeaponIcon() {
        $('#filterWeaponIcon').toggleClass('fa-rotate-180');
    }
    
    function toggleSalaryIcon() {
        $('#filterSalaryIcon').toggleClass('fa-rotate-180');
    }
    
    function toggleMaxPlayersIcon() {
        $('#filterMaxPlayersIcon').toggleClass('fa-rotate-180');
    }
    
    $(document).ready(function(){
        // Filter tags
        $('#filterTags').on('show.bs.collapse', toggleTagIcon);
        $('#filterTags').on('hide.bs.collapse', toggleTagIcon);
        
        // Filter weapons
        $('#filterWeapons').on('show.bs.collapse', toggleWeaponIcon);
        $('#filterWeapons').on('hide.bs.collapse', toggleWeaponIcon);
        
        // Filter salary
        $('#filterSalary').on('show.bs.collapse', toggleSalaryIcon);
        $('#filterSalary').on('hide.bs.collapse', toggleSalaryIcon);
        
        // Filter max players
        $('#filterMaxPlayers').on('show.bs.collapse', toggleMaxPlayersIcon);
        $('#filterMaxPlayers').on('hide.bs.collapse', toggleMaxPlayersIcon);
    });
</script>


<script src="{{=URL('static', 'js/default_index_main.js')}}"></script>