{{extend 'layout.html'}}



            <div class="container marginright bluecol">
        <div class="threequarters compressible">
            <img class="ucsclogo" src="/images/logo.png"/>
        </div>
        <div class="quarter compressible">
            <div class="textsize">February 2018</div>
        </div>
    </div>
    
    <div class="container marginright">
        <div class="twothirds compressible">
            <div class="innercol">
                <img class="polarimage" src="/images/polar-bear.jpg"/>
                
                <div class="polartitle">
                    <h3>Polar bears finding it harder to catch enough seals to meet energy demands</h3>

                    <h6>Study reveals high metabolic rates, meaning polar bears need a lot of fat-rich prey, but more than half of those studied were running an energy deficit.</h6>
                    
                    <div class="author">
                        February 01, 2018<br/>
                        By Tim Stephens
                    </div>
                </div>
                
                <div class="container marginleft">
                    
                    <div class="half compressible">
                        <div class="paragraph">

                            <p>A new study finds polar bears in the wild have higher metabolic rates than previously thought, and as climate change alters their environment a growing number of bears are unable to catch enough prey to meet their energy needs.</p>

                            <p>The study, published February 2 in Science, reveals the physiological mechanisms behind observed declines in polar bear populations, said first author Anthony Pagano, a Ph.D. candidate at UC Santa Cruz. "We've been documenting declines in polar bear survival rates, body condition, and population numbers over the past decade," he said. "This study identifies the mechanisms that are driving those declines by looking at the actual energy needs of polar bears and how often they're able to catch seals."</p>

                            <p>Pagano, who is also a wildlife biologist with the U.S. Geological Survey (USGS), conducted the study as part of his Ph.D. thesis research at UC Santa Cruz, where he has been working with coauthors Terrie Williams and Daniel Costa, both professors of ecology and evolutionary biology.</p>

                        </div>
                    </div>

                    <div class="half compressible">
                            <div class="paragraph">

                                <p>The researchers monitored the behavior, hunting success, and metabolic rates of adult female polar bears without cubs as they hunted for prey on the sea ice of the Beaufort Sea in the spring. High-tech collars on the bears recorded video, locations, and activity levels over a period of eight to 11 days, while metabolic tracers enabled the team to determine how much energy the bears expended.</p>
                                
                                <br/>

                                <p>The field metabolic rates they measured averaged more than 50 percent higher than previous studies had predicted. Five of the nine bears in the study lost body mass, meaning they weren't catching enough fat-rich marine mammal prey to meet their energy demands.</p>
                                
                                <br/>

                                <p>"This was at the start of the period from April through July when polar bears catch most of their prey and put on most of the body fat they need to sustain them throughout the year," Pagano said.</p>
                            </div>

                    </div>
                
                </div>
                
                
            </div>
        </div>

        <div class="third compressible">
            <div class="innercol2">
                <h5 class="padtitle">CruzHacks keeps growing</h5>
                <img class="images" src="/images/cruzhacks.jpg"/>
                <div class="author">
                    January 30, 2018<br/>
                    By J.D. Hillard
                </div>
                
                <div class="paragraph">
                    <br/>

                    <p>In its second year as a fully student-driven event, CruzHacks 2018 provided an environment that encouraged collaboration and networking. The 36-hour coding marathon is also an opportunity for Silicon Valley companies to meet the next generation of innovators. Sponsors including Google's virtual reality product, Daydream, and UC Santa Cruz's Genomics Institute challenged the 88 teams to produce apps employing a range of technologies. <a href="https://news.ucsc.edu/2018/01/cruzhacks.html">Read more</a></p>
                </div>
                
                
                <h5 class="padtitle">"Off the wall" thinking and learning</h5>
                <img class="images" src="/images/vizwall.jpg"/>
                
                <div class="author">
                    January 30, 2018<br/>
                    By J.D. Hillard
                </div>
                
                <div class="paragraph">
                    <br/>
                    <p>An opening celebration to formally launch the VizWall, a large-scale visualization installation, and the VizLab, a Virtual Reality and 360 Lab, will take place on February 7, at the David Kirk Digital Scholarship Commons on the ground floor of McHenry Library. The VizWall is a 14'x4' screen installation that enables large scale presentation of visual materials or simultaneous interaction with multiple pieces of digital content. <a href="https://news.ucsc.edu/2018/01/library-visualization-spaces.html?utm_source=newsletter&utm_medium=email&utm_content=section-2&utm_campaign=feb-2018">Read more</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container marginright white">
        <div class="third compressible">
            <div class="innerthird">
                <img class="images" src="/images/okinawa.jpg"/>
                
                <h6>Alumni: Travel to Japan with us</h6>
                
                <div class="paragraph">
                    <p>In a first-of-its-kind UC Santa Cruz travel experience, alumni are invited on a Japanese adventure, led by Professor Alan Christy, co-director of the Gail Project. Travelers will delve deeply into the history of Okinawa. <a href="https://humanities.ucsc.edu/about/giving/Okinawa_Travels.pdf?utm_source=newsletter&utm_medium=email&utm_content=alumni-updates-spot1&utm_campaign=feb-2018">Read more</a></p>
                </div>
                
            </div>
        </div>
        <div class="third compressible">
            <div class="innerthird">
                <img class="images" src="/images/laird.jpg"/>
                
                <h6>John Laird: A trailblazing public servant</h6>
                
                <div class="paragraph">
                    <p>John Laird has watched his political capital rise over the years. In 1983, while serving on the Santa Cruz City Council, he became one of the first openly gay mayors in the United States. He went on to serve three terms as a California state Assemblyman before starting his current job as California's Secretary for Natural Resources. <a href="https://news.ucsc.edu/2018/01/year-of-alumni-laird-john.html">Read more</a></p>
                </div>
            </div>
        </div>
        <div class="third compressible">
            <div class="innerthird">
                <img class="images" src="/images/maitra.jpg"/>
                
                <h6>2018 Sidhartha Maitra Memorial Lecture</h6>
                
                <div class="paragraph">
                    <p>Diplomacy & the Feminist Voice featuring Nirupama Menon Rao: Ambassador, Foreign Secretary, Scholar, Poet Ambassador Rao will examine the history of Women in Diplomacy, the idea of Feminist Foreign Policy as an approach to global affairs, and how Public Diplomacy through Social Media transcends gender in foreign affairs. <a href="https://events.ucsc.edu/event/4729?utm_source=newsletter&utm_medium=email&utm_content=featured-events&utm_campaign=feb-2018">Read more</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container footer bluecol"></div>



