{{extend 'layout.html'}}

{{block head}}
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
    <script src="{{=URL('static', 'js/vue.js')}}"></script>
    <script src="{{=URL('static', 'js/vue-router.min.js')}}"></script>
    
    <script>
        var jobs_url = "{{=URL('api', 'get_jobs')}}";
        
        var your_jobs_url = "{{=URL('default', 'community')}}";
        var view_url = "{{=URL('default', 'view')}}";
        var image_url = "{{=URL('static', 'images')}}";
        
        var isCommunityPage = true;
    </script>
    
    <script src="{{=URL('static','js/tagify.js')}}"></script>
    <script src="{{=URL('static','js/jQuery.tagify.js')}}"></script>

    <link rel="stylesheet"
        href="{{=URL('static','css/styles/default.css')}}">
    <script src="{{=URL('static','js/highlight.pack.js')}}"></script>

    <script>hljs.initHighlightingOnLoad();</script>


    <script>
        function pickTextColorBasedOnBgColorAdvanced(bgColor, lightColor, darkColor) {
            var color = (bgColor.charAt(0) === '#') ? bgColor.substring(1, 7) : bgColor;
            var r = parseInt(color.substring(0, 2), 16); // hexToR
            var g = parseInt(color.substring(2, 4), 16); // hexToG
            var b = parseInt(color.substring(4, 6), 16); // hexToB
            var uicolors = [r / 255, g / 255, b / 255];
            var c = uicolors.map((col) => {
                if (col <= 0.03928) {
                    return col / 12.92;
                }
                return Math.pow((col + 0.055) / 1.055, 2.4);
            });
            var L = (0.2126 * c[0]) + (0.7152 * c[1]) + (0.0722 * c[2]);
                return (L > 0.179) ? darkColor : lightColor;
        }
    </script>
{{end}}


<div id="vue-div-main" style="display: none;">

    
<div class="container-fluid" style="background-color: rgba(32, 32, 32);">
    <div class="container">
        <div class="row" style="padding-top: 15px; padding-bottom: 15px;">
            <div class="col-md-12">
                
            
<div class="form-inline pull-right" style="margin-right: -1px;">
    <div class="input-group">
    <input v-on:keyup.enter="search_jobs()" v-model="search_form" type="text" class="form-control" name="search" placeholder="Search jobs..">
    <span class="input-group-btn">
    <button v-on:click="fetchNewResults();" class="btn btn-info" type="submit" style="background-color: black;/"><i class="fa fa-search"></i>&#8203;</button>
    </span>
    </div>
</div>
                
                
                <h2 style="color: white;">Community</h2>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 20px;">
    <div class="row">
        
        <div class="col-sm-4 col-md-3 col-lg-2">
            <div style="color: #777; padding-top: 8px">
                
                Refine your results:
                
                <div  style="margin-top: 18px;">
                    <div class="filterByTags noSelect" data-toggle="collapse" data-target="#filterTags">
                        
                        <i class="fa fa-chevron-down" id="filterIcon" style="margin-right: 4px;"></i>
                        <span id="filterText">FILTER BY TAGS</span>
                    </div>
                    
                    <div id="filterTags" class="collapse noSelect">
                        
                        <div class="cPanel">
                            
                            <div class="form-check">
                                <input v-on:click="fetchNewResults();" type="checkbox" class="form-check-input" id="Citizen" value="Citizen" v-model="checkedTags">
                                <label for="Citizen" class="noBottomMargin">Citizen</label>
                            </div>
                            <div class="form-check">
                                <input v-on:click="fetchNewResults();" type="checkbox" class="form-check-input" id="Commercial" value="Commercial" v-model="checkedTags">
                                <label for="Commercial" class="noBottomMargin">Commercial</label>
                            </div>
                            <div class="form-check">
                                <input v-on:click="fetchNewResults();" type="checkbox" class="form-check-input" id="Criminal" value="Criminal" v-model="checkedTags">
                                <label for="Criminal" class="noBottomMargin">Criminal</label>
                            </div>
                            <div class="form-check">
                                <input v-on:click="fetchNewResults();" type="checkbox" class="form-check-input" id="Fun" value="Fun" v-model="checkedTags">
                                <label for="Fun" class="noBottomMargin">Fun</label>
                            </div>
                            <div class="form-check">
                                <input v-on:click="fetchNewResults();" type="checkbox" class="form-check-input" id="Government" value="Government" v-model="checkedTags">
                                <label for="Government" class="noBottomMargin">Government</label>
                            </div>
                            <div class="form-check">
                                <input v-on:click="fetchNewResults();" type="checkbox" class="form-check-input" id="OP" value="OP" v-model="checkedTags">
                                <label for="OP" class="noBottomMargin">OP</label>
                            </div>
                            <div class="form-check">
                                <input v-on:click="fetchNewResults();" type="checkbox" class="form-check-input" id="Misc" value="Misc" v-model="checkedTags">
                                <label for="Misc" class="noBottomMargin">Misc.</label>
                            </div>
                            
                            
                            
                        </div>
                        
                    </div>
                </div>
                
                
                <div  style="margin-top: 10px;">
                    <div class="filterByTags noSelect" data-toggle="collapse" data-target="#filterWeapons">
                        
                        <i class="fa fa-chevron-down" id="filterWeaponIcon" style="margin-right: 4px;"></i>
                        <span id="filterText">FILTER BY WEAPONS</span>
                    </div>
                    
                    <div id="filterWeapons" class="collapse noSelect">
                        
                        <div class="cPanel">
                            <div class="form-check">
                                <input v-bind:disabled="isLoadingResults" v-on:change="fetchNewResults();" type="checkbox" class="form-check-input checkBox" id="ak47" value="weapon_ak47" v-model="checkedWeapons">
                                <label for="ak47" class="noBottomMargin">AK-47</label>
                            </div>
                            
                            <div class="form-check">
                                <input v-bind:disabled="isLoadingResults" v-on:change="fetchNewResults();" type="checkbox" class="form-check-input checkBox" id="ar2" value="weapon_ar2" v-model="checkedWeapons">
                                <label for="ar2" class="noBottomMargin">AR2</label>
                            </div>
                            
                            <div class="form-check">
                                <input v-bind:disabled="isLoadingResults" v-on:change="fetchNewResults();" type="checkbox" class="form-check-input checkBox" id="custom" value="custom_swep" v-model="checkedWeapons">
                                <label for="custom" class="noBottomMargin">Custom SWEP</label>
                            </div>
                            
                            <!-- <tag-it id='lolFine' name='tags' placeholder='Add jobs' value='' v-once></tag-it> -->
                        </div>
                        
                    </div>
                </div>
                
                
                
                <div  style="margin-top: 10px;">
                        
                    <div class="filterByTags noSelect" data-toggle="collapse" data-target="#filterSalary">
                        
                        <i class="fa fa-chevron-down" id="filterSalaryIcon" style="margin-right: 4px;"></i>
                        <span id="filterText">FILTER BY SALARY</span>
                    </div>
                    
                    <div id="filterSalary" class="collapse noSelect">
                        
                        <div class="cPanel">
                            <label for="price_min">From</label>
                            <div class="input-group mb-3" style="margin-bottom: 5px !important;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input v-model="min_salary" name="price_min" type="text" class="form-control" placeholder="10">
                            </div>                          
                            <label for="price_max">To</label>
                            <div class="input-group mb-3" style="margin-bottom: 5px !important;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input v-model="max_salary" name="price_max" type="text" class="form-control" placeholder="50">
                            </div>             

                            <div style="margin-top:8px;">
                                <button class="btn btn-default btn-block" v-on:click="fetchNewResults();">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                
                
                <div  style="margin-top: 10px;">
                        
                    <div class="filterByTags noSelect" data-toggle="collapse" data-target="#filterMaxPlayers">
                        
                        <i class="fa fa-chevron-down" id="filterMaxPlayersIcon" style="margin-right: 4px;"></i>
                        <span id="filterText">BY MAX PLAYERS</span>
                    </div>
                    
                    <div id="filterMaxPlayers" class="collapse noSelect">
                        
                        <div class="cPanel">
                            <label for="price_min">From:</label>
                            <div class="input-group mb-3" style="margin-bottom: 5px !important;">
                                <input v-model="min_players" name="players_min" type="text" class="form-control" placeholder="0">
                            </div>                          
                            <label for="price_max">To:</label>
                            <div class="input-group mb-3" style="margin-bottom: 5px !important;">
                                <input v-model="max_players" name="players_max" type="text" class="form-control" placeholder="4">
                            </div>
                            <div style="margin-top: 8px;">
                                <button class="btn btn-default btn-block" v-on:click="fetchNewResults();">
                                    <i class="fa fa-search"></i> Filter
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                
            </div>
        </div>
            
        <div class="col-sm-8 col-md-9 col-lg-10">
            <div>
                <select v-model="selectedSort" class="form-control" style="width: 200px; display: inline;"
                        v-on:change="fetchNewResults();" v-bind:disabled="isLoadingResults">
                    <option value="newest">Sort by: Newest jobs</option>
                    <option value="recent">Recently updated</option>
                    <option value="upvotes">Upvotes</option>
                </select>
                
                <select v-model="selectedTimeRange" class="form-control" style="width: 200px; display: inline;"
                        v-on:change="fetchNewResults();" v-bind:disabled="isLoadingResults">
                    <option value="any">Added: Any date</option>
                    <option value="day">In the past day</option>
                    <option value="week">In the past week</option>
                    <option value="month">In the past month</option>
                    <option value="year">In the past year</option>
                </select>
                
                <i v-if="isLoadingResults" class="fa fa-spinner fa-spin" style="color: black;"></i>
                
                <span class="pull-right hidden-sm">
                    <a href="{{=URL('default', 'create')}}"><button class="createJobButton"><i class="fa fa-plus"></i>&#8203;</button></a>
                </span>
            </div>
            
            
            <div v-if="showing_job_details" class="row no-gutters rounded" v-bind:style="{ background: '#' + job_color + '59' }" style="margin-top: 8px; position: relative;">
                <i v-on:click="close_job_details()" class="fa fa-close closeJobDetails" v-bind:class="getTextClass(job_color, true)" style="font-size: 36px;"></i>
                
                <div class="roundedTop" style="padding-top: 36px; width: 100%;" v-bind:style="{ background: '#' + job_color }">
                    
                    <div class="whiteGloss">
                        <img v-bind:src="getModelURL(job_model)" style="float: left; padding-left: 12px;"/>
                        
                        <div class="myTextBottomLeft2" v-bind:class="getTextClass(job_color)">
                            ${ job_name }
                        </div>
                    </div>
                </div>
                
                <div style="background-color: rgba(32, 32, 32); width: 100%;">
                    <div class="tab noSelect">
                        <div class="tablinks" v-bind:class="{ active: (job_current_tab == 0) }" v-on:click="openTab(0)">Details</div>
                        <div class="tablinks" v-bind:class="{ active: (job_current_tab == 1) }" v-on:click="openTab(1)">Code</div>
                        <div class="tablinks" v-bind:class="{ active: (job_current_tab == 2) }" v-on:click="openTab(2)">Comments</div>
                    </div>
                </div>
                
                <div id="Code" v-bind:style="{ display: (job_current_tab == 1) ? 'block' : 'none' }" style="width: 100%; background: rgba(240, 240, 240, 1);">
                
                
<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding: 0 !important;">
            <div class="pull-right noSelect pointer" id="copyButton" v-on:click="copy_code" style="background-color: steelblue; color: white; padding: 10px 15px 10px 15px; border-top-left-radius: 4px;">Copy</div>
        </div>
    </div>    
</div>
                    
<pre style="padding: 0px 32px 32px 32px; margin-bottom: 0px;"><code><div id="genCode">TEAM_${job_job_id} = DarkRP.createJob(<span class="red">"${ job_name }"</span>, {
    color = Color(<span class="red">${ (job_color_rgb[0]) }</span>, <span class="red">${ (job_color_rgb[1]) }</span>, <span class="red">${ (job_color_rgb[2]) }</span>),
    model = "<span class="red">${ job_model }"</span>,
    weapons = {${ job_weapons }},
    command = <span class="red">"${job_command}"</span>
    max = <span class="red">${ job_max_players }</span>,
    salary = <span class="red">${ job_salary }</span>,
    vote = <span class="blue">${ job_vote }</span>,
    admin = <span class="blue">${ job_admin_only }</span>
})</div></code></pre>
                
                
</div>

                <!-- https://stackoverflow.com/questions/26983301/how-to-make-a-table-column-be-a-minimum-width -->
                <div id="Details" class="table-responsive" style="padding: 20px;" v-bind:style="{ display: (job_current_tab == 0) ? 'block' : 'none' }">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td class="min" style="">Description:</td>
                                <td style="vertical-align: bottom; font-size: 18px; font-weight: bold; color: rgba(0, 0, 0, 0.75);">${ job_desc }</td>
                            </tr>
                            
                            <tr>
                                <td class="min">Salary:</td>
                                <td style="vertical-align: bottom; color: rgba(0, 0, 0, 0.75);">${ job_salary }</td>
                            </tr>
                            
                            <tr>
                                <td class="min">Max Players:</td>
                                <td style="vertical-align: bottom; color: rgba(0, 0, 0, 0.75);">${ job_max_players }</td>
                            </tr>
                            
                            <tr>
                                <td class="min">Vote:</td>
                                <td style="vertical-align: bottom; color: rgba(0, 0, 0, 0.75);">${ job_vote }</td>
                            </tr>
                            
                            <tr>
                                <td class="min">Admin Only:</td>
                                <td style="vertical-align: bottom; color: rgba(0, 0, 0, 0.75);">${ job_admin_only }</td>
                            </tr>
                            
                            <tr v-if="job_weapons.length > 0">
                                <td class="min">Weapons:</td>
                                <td style="vertical-align: bottom; color: rgba(0, 0, 0, 0.75);">${ job_weapons }</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="postedBy">
                    <div class="postedByText">
                        Posted by: ${ job_created_by }
                    </div>
                </div>
            </div>
            
            <div v-if="!showing_job_details" class="row no-gutters" style="margin-top: 8px;">
                
                
                
                <div class="col-md-6 col-sm-6">
                    
                    
                    <div v-for="job in even_jobs" class="pointer noSelect" style="padding: 4px;">
                        <a v-on:click="show_job_details(job)" style="text-decoration: none;">
                            <div class="roundedCorners" style="background: rgba(0, 0, 0, 0);">
                                
                                <div class="whiteGloss" v-bind:style="{ background: '#' + job.color }">
                                    
                                    <img v-bind:src="getModelURL(job.model)" style="float: left; margin-left: 8px;"/>
                                    
                                    <div class="myTextBottomLeft" v-bind:class="getTextClass(job.color)">
                                        ${job.name}
                                    </div>
                                </div>                                
                                
                                <div class="jobDescription" v-bind:style="{ background: '#' + job.color + '59' }">
                                    ${job.description}
                                </div>
                                
                                <div class="postedBy">
                                    <div class="postedByText">
                                        Posted by: ${job.created_by}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                    
                    
                    
                    
                </div>
                
                
                
                <div class="col-md-6 col-sm-6">
                    
                    <div v-for="job in odd_jobs" class="pointer noSelect" style="padding: 4px;">
                        <a v-on:click="show_job_details(job)" style="text-decoration: none;">
                            <div class="roundedCorners" style="background: rgba(0, 0, 0, 0);">
                                
                                <div class="whiteGloss" v-bind:style="{ background: '#' + job.color }">
                                    
                                    <img v-bind:src="getModelURL(job.model)" style="float: left; padding-left: 8px;"/>
                                    
                                    <div class="myTextBottomLeft" v-bind:class="getTextClass(job.color)">
                                        ${job.name}
                                    </div>
                                </div>
                                
                                <div class="jobDescription" v-bind:style="{ background: '#' + job.color + '59' }">
                                    ${job.description}
                                </div>
                                
                                <div class="postedBy">
                                    <div class="postedByText">
                                        Posted by: ${job.created_by}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                
                
                </div>
                
                
                
            </div>
            
            
            <div v-if="!showing_job_details" class="row" style="margin-top: 8px;">
                
                <div class="col-md-12">
                    

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end" style="padding: 4px;">

                            <li class="page-item noSelect" v-bind:class="{disabled: current_page == 1}">
                                <a class="page-link" v-on:click="prev_page()">Previous</a>
                            </li>


                            <li class="page-item noSelect" v-bind:class="{active: pageNumber == current_page}" v-for="pageNumber in pages">
                                <a class="page-link" v-on:click="set_page(pageNumber)" v-bind:class="{last: (pageNumber == pages && Math.abs(pageNumber - current_page) > 3), first:(pageNumber == 1 && Math.abs(pageNumber - current_page) > 3)}">${pageNumber}</a>
                            </li>

                            <li class="page-item noSelect" v-bind:class="{disabled: current_page == pages}">
                                <a class="page-link" v-on:click="next_page()">Next</a>
                            </li>
                        </ul>
                    </nav>
                    
                    
                </div>
            
            </div>
        </div>
    </div>
</div>

</div>


<script src="{{=URL('static', 'js/default_index_main.js')}}"></script>

<script>
    $('#jobsLink').addClass('active');
    
    function toggleTagIcon() {
        $('#filterIcon').toggleClass('fa-rotate-180');
    }
    
    function toggleWeaponIcon() {
        $('#filterWeaponIcon').toggleClass('fa-rotate-180');
    }
    
    function toggleSalaryIcon() {
        $('#filterSalaryIcon').toggleClass('fa-rotate-180');
    }
    
    function toggleMaxPlayersIcon() {
        $('#filterMaxPlayersIcon').toggleClass('fa-rotate-180');
    }
    
    $(document).ready(function(){
        // Filter tags
        $('#filterTags').on('show.bs.collapse', toggleTagIcon);
        $('#filterTags').on('hide.bs.collapse', toggleTagIcon);
        
        // Filter weapons
        $('#filterWeapons').on('show.bs.collapse', toggleWeaponIcon);
        $('#filterWeapons').on('hide.bs.collapse', toggleWeaponIcon);
        
        // Filter salary
        $('#filterSalary').on('show.bs.collapse', toggleSalaryIcon);
        $('#filterSalary').on('hide.bs.collapse', toggleSalaryIcon);
        
        // Filter max players
        $('#filterMaxPlayers').on('show.bs.collapse', toggleMaxPlayersIcon);
        $('#filterMaxPlayers').on('hide.bs.collapse', toggleMaxPlayersIcon);
    });
</script>
