
.footer {
    margin-right: 15px;
    height: 190px;
}

.ucsclogo {
    height: 100px;
    margin: 80px 0px 10px 30px;
}

.bluecol {
    background-color: #082e5a;
}

.images {
    padding-top: 15px;
    width: 100%;
}

.polarimage {
    width: 100%;
}

.innercol {
    padding: 30px 15px 20px 30px;
}

.innercol2 {
    padding: 15px 15px 20px 0px;
}

.author {
    margin-top: 20px;
    font-size: 12px;
}

.paragraph {
    line-height: 1.5em;
    font-size: 14px;
}

.padtitle {
    padding-top: 25px;
}

.polartitle {
    margin: 50px 50px 50px 40px;
}

.marginright {
    margin-right: 15px;
}

.marginleft {
    margin-left: 15px;
}

.textsize {
    margin: 112px 0px 0px 20px;
    text-align: right;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.innerthird {
    padding: 50px 25px 20px 50px;
}